<div [@routerTransition] class="container">
    <h4 class="mb-3 padding-top-1">
        <span> New Guest Check-In</span>
    </h4>
    <form class="form" #AddRecordForm="ngForm" [formGroup]="form" (ngSubmit)="save()">
        <div class="container-form">
            <h5 class="mb-2 w-100">Guest Information</h5>
            <div class="green-panel">
                <div class="input-label w-100">
                    <label for="name">Name</label>
                    <input type="text" id="" pInputText formControlName="name" />                            
                </div>
                <div class="input-label w-100">
                    <label for="surname">Surname</label>
                    <input type="text" id="" pInputText formControlName="surname" />                                
                </div>
                <div class="input-label w-100">
                    <label for="id">ID</label>
                    <input type="text" id="" pInputText formControlName="id" />                            
                </div>
            <div class="datePickers">
                <div class="input-label w-100 calendar">
                    <label class="date-picker-label" for="registrationStartDate">Registration Start Date</label>
                    <p-calendar 
                        formControlName="registrationStartDate" 
                        class="calendar" 
                        showTime="true" 
                        inline="true"
                        hourFormat="24">
                    </p-calendar>
                </div>            
                <div class="input-label w-100 calendar">
                    <label class="date-picker-label" for="registrationStartDate">Registration End Date</label>
                    <p-calendar 
                        formControlName="registrationEndDate" 
                        class="calendar" 
                        inline="true"
                        showTime="true" 
                        hourFormat="24">
                    </p-calendar>
                </div> 
            </div>            
                <!-- <div class="padding-top-1-5">
                            <div class="trophy-autocomplete-std width-100">
                                <label for="contact">Room</label>
                                <div class="autocomplete-icon">
                                    <p-autoComplete
                                        styleClass="autocomplete-std"
                                        formControlName="contact"
                                        [suggestions]="results"
                                        dataKey="user.id"
                                        (completeMethod)="search($event)"
                                        [forceSelection]="true"
                                        [field]="myUserConversionMethod"
                                        placeholder="Search Customer"
                                        readonly="true"
                                    >
                                        <ng-template let-user pTemplate="item">
                                            {{ user.name }} {{ user.surname }}
                                        </ng-template>
                                        <ng-template let-user pTemplate="selectedItem">
                                            {{ user.name }} {{ user.surname }}
                                        </ng-template>
                                    </p-autoComplete>
                                </div>
                            </div>
                        </div>
                        <div class="trophy-datepicker-std padding-right-min w-100">
                            <label for="registrationStartDate">Trophy Date</label>
                            <div>
                                <p-calendar
                                    styleClass="datepicker-std"
                                    [showIcon]="true"
                                    placeholder="Select Date"
                                    dateFormat="mm/dd/yy"
                                    name="harvestDate"
                                    formControlName="harvestDate"
                                    (onSelect)="setEndDate($event)"
                                >
                                </p-calendar>
                            </div>
                        </div>  -->
            </div>
        </div>
        <div class="form-buttons">
            <button type="button" class="btn btn-cancel" (click)="close()">
                <span class="span-cancel"> Cancel </span>
            </button>
            <button type="submit" class="btn btn-success" [disabled]="!form.valid || saving">
                <span class="span-success"> Save </span>
            </button>
        </div>

        <p-toast key="alert-message"></p-toast>
        <p-confirmDialog styleClass="trophy-remove-dialog" [closable]="true" acceptIcon="" acceptLabel="Ok">
            <ng-template pTemplate="header">
                <h3><i class="svg-icon svg-icon__size-l svg-icon__error-alert"></i>{{ titleHeaderDialog }}</h3>
            </ng-template>
        </p-confirmDialog>
    </form>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p class="spinner-text">Loading...</p>
</ngx-spinner>